@page
@model CarRentalDB.Pages.Auto.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cars</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Registration_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Registration_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Return_mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Return_mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Date_of_last_maintenance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Date_of_last_maintenance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Special_marks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Special_marks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Rental_day_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Rental_day_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Car_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Car_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Body_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Body_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Engine_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Engine_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Year_of_release)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cars.Year_of_release)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cars.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
