@page
@model CarRentalDB.Pages.RentalServices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental_services[0].Date_of_issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental_services[0].Rental_period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental_services[0].Return_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental_services[0].Rental_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental_services[0].Payment_mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rental_services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rental_period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rental_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_mark)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
